
/*footer*/

#footer{
    padding-top: 13rem;
}

.icones{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    margin-right: 20rem;
    margin-top: 2rem;
}

.link-icon{
    text-decoration: none;
    font-family: Inconsolata;
    color: #8C52FF;
}
